body {
    font-family: Arial, sans-serif;
    background-image: url('arab-people-with-camel-caravan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .admin-container {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    margin: 30% auto auto;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2%;
  }
  
  h2 {
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .user-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .user {
    background-color: rgba(220, 152, 89, 0.806);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .user p {
    margin: 5px 0;
  }
  